body {
  background-color: black;
  color: white;
  font-family: monospace;
}

a:visited {
  color: indianred;
}

#board {
  background-color: rgb(25,25,25);
  height: 2.5in;
  width: 3.5in;
}

#blah {
  background-color: silver;
  height: 0.5in;
  width: 3.5in;
}